<html>
<head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- HTML5 -->
<meta charset="utf-8"/>
<head>
  <link href="css/style.css" rel="stylesheet"/>
 <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script> 
<link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css" media="all"></head>

<body class="bg-dark">
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto ">
    <div>
    
      <h3 class="float-md-start mb-0 text-white"> Principal Associado</h3>
      <nav class="nav nav-masthead  float-md-end">
        <a class="nav-link" href="/"><button type="button" class="btn btn-light">Inicio</button></a>
      </nav>
    </div>
  </header>
	<form method="POST">
     <div class="mb-3">
	  <label for="exampleFormControlInput1" class="form-label text-white">CPF</label>
	  <input type="text" class="form-control" name="cpf" placeholder="Informe o cpf utilizando somente números" MAXLENGTH=11 >
	 </div>
	 
	 <button type="submit" class="btn btn-light" >Salvar</button>
</form>
  <footer class="mt-auto text-white-50">
    <p>Exame Cooperativa <a href="https://getbootstrap.com/" class="text-white "> @mdo</a>.</p>
  </footer>
</div>
</body>
 
</html>